<!DOCTYPE html>
<html>
<head>
    <title>No Base64 Encoding</title>
    <%if (file_name === 'without') {%>
        <link rel="stylesheet" href="/static/css/without.css">
    <%} else {%>
        <link rel="stylesheet" href="/static/css/with.css">
    <%}%>
</head>
    <body>
        <% include ../pages/icons%>
    </body>
</html>
