$icons: ('00-blank.gif','08-hal.gif','events.gif','mail.png','00-freakcity.gif','08-macish.gif','eventsd.gif','maild.gif','00-hal.gif','09-blank.gif','exit.gif','mailicon.gif','00-macish.gif','09-freakcity.gif','exitd.gif','new.gif','01-blank.gif','09-hal.gif','farleft-off.png','new.png','01-freakcity.gif','09-macish.gif','farleft.png','newmailicon.gif','01-hal.gif','10-blank.gif','farright-off.png','nfolder.gif','01-macish.gif','10-freakcity.gif','farright.png','pic.gif','02-blank.gif','10-hal.gif','favico.png','pin.png','02-freakcity.gif','10-macish.gif','favicon.png','polls.gif','02-hal.gif','11-blank.gif','folder.gif','pollsd.gif','02-macish.gif','11-freakcity.gif','folder_open.gif','private.gif','02.5-blank.gif','11-hal.gif','forum.gif','profiles.gif','02.5-freakcity.gif','11-macish.gif','forumd.gif','profilesd.gif','02.5-hal.gif','12-blank.gif','green.gif','quote.gif','02.5-macish.gif','12-freakcity.gif','grey.gif','quote.png','03-blank.gif','12-hal.gif','groups.gif','red.gif','03-freakcity.gif','12-macish.gif','groupsd.gif','right-off.png','03-hal.gif','13-blank.gif','help.gif','right.gif','03-macish.gif','13-freakcity.gif','helpd.gif','right.png','04-blank.gif','13-hal.gif','home.gif','settings.gif','04-freakcity.gif','13-macish.gif','homed.gif','settingsd.gif','04-hal.gif','14-blank.gif','icons.gif','small.gif','04-macish.gif','14-freakcity.gif','ignore.png','smileys.gif','05-blank.gif','14-hal.gif','info.gif','st.gif','05-freakcity.gif','14-macish.gif','infod.gif','tb.gif','05-hal.gif','15-blank.gif','italic.gif','toys.gif','05-macish.gif','15-freakcity.gif','journal.png','toysd.gif','06-blank.gif','15-hal.gif','jump.png','track.png','06-freakcity.gif','15-macish.gif','justify.gif','underlined.gif','06-hal.gif','16-blank.gif','left-off.png','unignore.png','06-macish.gif','16-freakcity.gif','left.gif','untrack.png','07-blank.gif','16-hal.gif','left.png','up.gif','07-freakcity.gif','16-macish.gif','letter.gif','url.gif','07-hal.gif','17-blank.gif','letteroff.gif','vcal.gif','07-macish.gif','17-freakcity.gif','lno.gif','08-blank.gif','17-hal.gif','lyes.gif','08-freakcity.gif','17-macish.gif','mail.gif');
.icon {
    display:inline-block;
    background-repeat:no-repeat;
    background-position:3px center;
    text-indent:40px;
    width:120px;
    height:30px;
    line-height:30px;
    border-radius:2px;
    box-shadow:0 0 2px rgba(0,0,0,0.5);
    margin:5px;
    text-transform:uppercase;
    font-family:sans-serif;
    font-weight:100;
    background-color:rgba(0,0,0,0.1);
    &:hover {
        background-color:rgba(0,0,0,0.4);
    }
}
h1 {
    text-transform:uppercase;
    font-family:sans-serif;
    font-weight:100;
}
#timer {
    font-size:30px;
    padding:10px;
    font-family:sans-serif;
    font-weight:100;
}